*resharper.user
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
*.user
temp/
/publish/
/src/[Ww]eb/App_Data/
/src/[Ww]eb/[Ww]eb.config
/out/
csx/
/_UpgradeReport_Files/
UpgradeLog*
/src/Web.Management/logs/*
/src/Web.Api/logs/*
/src/Web.Microsite/logs/*
build/tools/
build/out.txt
/packages/
build/*.log
*.orig
/EventDay.Full.sln.ide/*
Backup/
.idea/